{% extends 'base2.html.twig' %}


{% block body %}
	<div class="registration">
		<h3>Connexion</h3>

		<div class="registrationForm">
			<form action="{{path('login')}}" method="POST">

				{% if error %}
					<div class="row">
						{{ error.messageKey|trans(error.messageData, 'security') }}
						{{ error.message }}
					</div>
				{% endif %}
				<div class="row">
					<input type="email" placeholder="Adresse email ..." , class="champText" required name="_username"/>
				</div>
				<div class="row">
					<input type="password" placeholder="Votre mot de passe" class="champText" required name="_password"/>
				</div>

				<button type="submit" class="btn_success">Connécter</button>
			</div>
		</form>

		<br>
		<div class="text-center ">
			Ou connecter par :
			<br>
			<a href="{{path('facebook_connect')}}" class="icon-button facebook">
				<i class="icon-facebook fa fa-facebook"></i>
				<span></span>
			</a>
			<a href="{{path('google_connect')}}" class="icon-button google-plus">
				<i class="icon-google-plus fa fa-google-plus"></i>
				<span></span>
			</a>
		</div>
		<div class="text-center d-flex">
			<div class="list-group   mx-auto justify-content-center ">
				<a href="{{path('client_registration1')}}" class="list-group-item list-group-item-action">Creer un compte client.</a>
				<a href="{{path('agr_registration1')}}" class="list-group-item list-group-item-action">Creer un compte agriculteur .</a>
			</div>
		</div>
		<br>
		<a class="button" href="{{path('forget_password')}}">
			Avez vous oubliez le mot de passe?
		</a>
	</div>

{% endblock %}

{% block javascripts %}

	<script>/*(document).ready(function(){
        $("#exampleModalCenter").modal('show');
    });*/</script>{% endblock %}
