{% extends 'base2.html.twig' %} {% block body %}

<div class="registration">
  <h3>Confirmation d'adresse email</h3>
  <br />
  <br />
  {% if error %}
   <h6 id="vp">  {{ error }}</h6> 
  {% else %}
  <h6 id="vp">
    Vous etes entrain de changer le mot de passe du compte: <br />
    <strong> {{email}} </ strong>
  </h6>
  {% endif %}
  {{ form_start(form) }}
  <div class="registrationForm">
    <div class="row">
      {{ form_row(form.password, {'label':'Mot de passe','attr':{'placeholder':'Au moins 8 caractéres', 'class':'champText'
      }}) }}
    </div>

    <div class="row">
      {{ form_row(form.confirm_password, {'label':'Confirmer le mot de passe','attr':{'placeholder':'', 'class':'champText'
      }}) }}
    </div>

    <button type="submit" class="btn_success">Confirmer</button>
  </div>
  <br />
  <br />
  {{ form_end(form) }}


</div>

{% endblock %}