{% extends 'base.html.twig' %}

{% block title %} {{controller_name}}
{% endblock %}

{% block body %}


	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section set-bg" data-setbg={{ asset('img/breadcrumb.jpg') }}>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="breadcrumb__text">
						<h2>GreenStore
						</h2>
						<div class="breadcrumb__option">
							<a href="{{path('home')}}">Accuiel</a>
							<span>Magasin</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Breadcrumb Section End -->

	<!-- Product Section Begin -->
	<section class="product spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-5">
					<div class="sidebar">
						<div class="sidebar__item">
							<div class="latest-product__text">
								<h4>Derniers produits</h4>
								<div class="latest-product__slider owl-carousel">
									<div class="latest-prdouct__slider__item">
										{% if derniersProduits | length ==1 %}
											{% for produit in derniersProduits  %}
												<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
													<div class="latest-product__item__pic">
														<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
													</div>
													<div class="latest-product__item__text">
														<h6>{{produit.libelle}}</h6>
														<span>{{produit.prixUnitaire}}DH</span>
													</div>
												</a>
											{% endfor %}
										{% else  %}
											{% if derniersProduits | length ==3 %}
												{% for produit in derniersProduits  %}
													<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
														<div class="latest-product__item__pic">
															<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
														</div>
														<div class="latest-product__item__text">
															<h6>{{produit.libelle}}</h6>
															<span>{{produit.prixUnitaire}}DH</span>
														</div>
													</a>
												{% endfor %}
											{% else %}
												{% set i = 1 %}
												{% for produit in derniersProduits  %}
													{% if i <= (derniersProduits | length) /2 %}
														<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
															<div class="latest-product__item__pic">
																<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
															</div>
															<div class="latest-product__item__text">
																<h6>{{produit.libelle}}</h6>
																<span>{{produit.prixUnitaire}}DH</span>
															</div>
														</a>
														{% set i = i + 1 %}
													{% endif %}
												{% endfor %}
											{% endif %}
										{% endif %}
									</div>
									<div class="latest-prdouct__slider__item">
										{% if derniersProduits | length ==1 %}
											{% for produit in derniersProduits  %}
												<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
													<div class="latest-product__item__pic">
														<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
													</div>
													<div class="latest-product__item__text">
														<h6>{{produit.libelle}}</h6>
														<span>{{produit.prixUnitaire}}DH</span>
													</div>
												</a>
											{% endfor %}
										{% else  %}
											{% if derniersProduits | length ==3 %}
												{% for produit in derniersProduits  %}

													<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
														<div class="latest-product__item__pic">
															<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
														</div>
														<div class="latest-product__item__text">
															<h6>{{produit.libelle}}</h6>
															<span>{{produit.prixUnitaire}}DH</span>
														</div>
													</a>
												{% endfor %}
											{% else %}
												{% set i = 1 %}
												{% for produit in derniersProduits | reverse  %}
													{% if i <= (derniersProduits | length) /2 %}
														<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
															<div class="latest-product__item__pic">
																<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
															</div>
															<div class="latest-product__item__text">
																<h6>{{produit.libelle}}</h6>
																<span>{{produit.prixUnitaire}}DH</span>
															</div>
														</a>
														{% set i = i + 1 %}
													{% endif %}
												{% endfor %}
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
                      
					  {% if produitsMieuxNotes is not empty %}
						<div class="sidebar__item">
							<div class="latest-product__text">
								<h4>Produits les mieux notés</h4>
								<div class="latest-product__slider owl-carousel">
									<div class="latest-prdouct__slider__item">
										{% if produitsMieuxNotes | length ==1 %}
											{% for produit in produitsMieuxNotes  %}
												<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
													<div class="latest-product__item__pic">
														<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
													</div>
													<div class="latest-product__item__text">
														<h6>{{produit.libelle}}</h6>
														<span>{{produit.prixUnitaire}}DH</span>
													</div>
												</a>
											{% endfor %}
										{% else  %}
											{% if produitsMieuxNotes | length ==3 %}
												{% for produit in produitsMieuxNotes  %}
													<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
														<div class="latest-product__item__pic">
															<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
														</div>
														<div class="latest-product__item__text">
															<h6>{{produit.libelle}}</h6>
															<span>{{produit.prixUnitaire}}DH</span>
														</div>
													</a>
												{% endfor %}
											{% else %}
												{% set i = 1 %}
												{% for produit in produitsMieuxNotes  %}
													{% if i <= (produitsMieuxNotes | length) /2 %}
														<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
															<div class="latest-product__item__pic">
																<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
															</div>
															<div class="latest-product__item__text">
																<h6>{{produit.libelle}}</h6>
																<span>{{produit.prixUnitaire}}DH</span>
															</div>
														</a>
														{% set i = i + 1 %}
													{% endif %}
												{% endfor %}
											{% endif %}
										{% endif %}
									</div>
									<div class="latest-prdouct__slider__item">
										{% if produitsMieuxNotes | length ==1 %}
											{% for produit in produitsMieuxNotes  %}
												<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
													<div class="latest-product__item__pic">
														<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
													</div>
													<div class="latest-product__item__text">
														<h6>{{produit.libelle}}</h6>
														<span>{{produit.prixUnitaire}}DH</span>
													</div>
												</a>
											{% endfor %}
										{% else  %}
											{% if produitsMieuxNotes | length ==3 %}
												{% for produit in produitsMieuxNotes  %}

													<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
														<div class="latest-product__item__pic">
															<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
														</div>
														<div class="latest-product__item__text">
															<h6>{{produit.libelle}}</h6>
															<span>{{produit.prixUnitaire}}DH</span>
														</div>
													</a>
												{% endfor %}
											{% else %}
												{% set i = 1 %}
												{% for produit in produitsMieuxNotes | reverse  %}
													{% if i <= (produitsMieuxNotes | length) /2 %}
														<a href="{{path('shop_details',{'id':produit.id})}}" class="latest-product__item">
															<div class="latest-product__item__pic">
																<img style=" width:90px;height:90px ;" src="{{asset(produit.image)}}" alt="">
															</div>
															<div class="latest-product__item__text">
																<h6>{{produit.libelle}}</h6>
																<span>{{produit.prixUnitaire}}DH</span>
															</div>
														</a>
														{% set i = i + 1 %}
													{% endif %}
												{% endfor %}
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-9 col-md-7">
				   {% if produitsPromotion is not empty %}
					<div class="product__discount">
						<div class="section-title product__discount__title">
							<h2>Reduction</h2>
						</div>
						<div class="row">
							<div class="product__discount__slider owl-carousel">
								{% for produit in produitsPromotion  %}
									<div class="col-lg-4">
										<div class="product__discount__item">
											<div class="product__discount__item__pic set-bg" data-setbg={{ asset( produit.image ) }}>
												<div class="product__discount__percent">-{{produit.promotion.reduction}}%</div>
												{% if produit.isBio %}
													<div class="product__bio">Bio</div>
												{% endif %}
												<ul class="product__item__pic__hover">
													<li>
														<a href="{{path('produit_like', {'id':produit.id})}}" class="heart-icon  js-like-produit">
															{% if app.user  and  produit.isLikedByClient(app.user) %}
																<i class="fa fa-heart " style="font-size:20px;color:red"></i>
															{% else %}
																<i class="fa fa-heart-o" style="font-size:20px;color:red"></i>
															{% endif %}
														</a>
													</li>
													<li>
														<a class="shopping-produit" href="{{ path('cart_add', {'id': produit.id} )}}">
															<i class="fa fa-shopping-cart"></i>
														</a>

													</li>
												</ul>
											</div>
											<div class="product__discount__item__text">
												<i class="fa fa-heart" style="font-size:20px;color:red"></i>
												<span class="js-liks-produit{{produit.id}}">{{produit.recommedations | length}}</span>
												<span>{{produit.categorie.libelle}}</span>
												<h5>
													<a class="shopping-produit" href="{{path('shop_details',{'id':produit.id})}}">{{ produit.libelle }}</a>
												</h5>
												<div class="product__item__price">{{ produit.prixUnitaire - produit.prixUnitaire*(produit.promotion.reduction/100) }}MAD
													<span>{{ produit.prixUnitaire }}MAD</span>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
					{% endif %}
					<div class="filter__item">
						<div class="row">
							<div class="col-lg-4 col-md-5">
								<div class="filter__sort">
									<form id="form_trier" action="{{path('shoping_grid')}}" method="post">
										<span>Trier par</span>
										<select name="trier" id="trier">
											{% if app.session.get('trier') is null %}
												<option value="0" selected>Par defaut</option>
												<option value="1">Prix,croissant</option>
												<option value="2">Prix,décroissat</option>
											{% elseif app.session.get('trier')==1 %}
												<option value="0">Par defaut</option>
												<option value="1" selected>Prix,croissant</option>
												<option value="2">Prix,décroissat</option>
											{% elseif app.session.get('trier')==2 %}
												<option value="0">Par defaut</option>
												<option value="1">Prix,croissant</option>
												<option value="2" selected>Prix,décroissat</option>
											{% else %}
												<option value="0" selected>Par defaut</option>
												<option value="1">Prix,croissant</option>
												<option value="2">Prix,décroissat</option>
											{% endif %}
										</select>
									</form>
								</div>
							</div>
							<div class="col-lg-4 col-md-4">
								<div class="filter__found">
									<h6>
										<span>{{listProduit | length }}</span>
										Produits trouvés</h6>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						{% for produit in listProduit %}
							<div class="col-lg-4 col-md-6 col-sm-6">
								<div class="product__item">
									<div class="product__item__pic set-bg" data-setbg="{{ asset(produit.image) }}">
										{% if produit.isBio %}
											<div class="product__bio">Bio</div>
										{% endif %}
										<ul class="product__item__pic__hover">
											<li>

												<a href="{{path('produit_like', {'id':produit.id})}}" class="heart-icon  js-like-produit">
													{% if app.user  and  produit.isLikedByClient(app.user) %}
														<i class="fa fa-heart " style="font-size:20px;color:red"></i>
													{% else %}
														<i class="fa fa-heart-o" style="font-size:20px;color:red"></i>
													{% endif %}
												</a>

											</li>

											<li>
												<a class="shopping-produit"  href="{{ path('cart_add', {'id': produit.id} )}}">
													<i class="fa fa-shopping-cart"></i>
												</a>
											</li>
										</ul>
									</div>
									<div class="product__item__text">
										<i class="fa fa-heart" style="font-size:20px;color:red"></i>
										<span class="js-liks-produit{{produit.id}}">{{produit.recommedations | length}}</span>
										<h6>
											<a href="{{path('shop_details',{'id':produit.id})}}">{{produit.libelle}}</a>
										</h6>
										<h5>{{produit.prixUnitaire}}MAD</h5>
									</div>
								</div>
							</div>

						{% endfor %}
					</div>
					<div class="d-flex justify-content-center h4">
						{{ knp_pagination_render(listProduit) }}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Product Section End -->
{% endblock %}
{% block javascripts %}
	<script src="{{asset('js/shoping-grid-ajax.js')}}"></script>
	<script src="{{asset('js/like.js')}}"></script>
	<script src="{{asset('js/subscribers-ajax.js')}}"></script>

	<script>
		$(document).ready(function () {
$(document).on('change', '#trier', function () {
$('#form_trier').submit();
});
});
	</script>
{% endblock %}
