{%  extends "base_farmer.html.twig" %}
{% block title %} {{controller_name}}
{% endblock %}
{% block bodyFarmer %}
	<!-- ### $App Screen Content ### -->
	<main class='main-content bgc-grey-100'>
		<div id='mainContent'>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="bgc-white bd bdrs-3 p-20 mB-20">
							<h4 class="c-grey-900 mT-10 mB-30">
								<a href="{{ path('sales')}}">
									<i class="ti-arrow-left mR-10"></i>
								</a>
								{{market.libelle}}</h4>
							{% for produit in  market.produits  %}
								<hr>
								<h5 class="c-grey-900 mT-10 mB-30">Libelle  :
									{{produit.libelle}}</h5>
								<div class="table-responsive">
									<table class="table table-striped " cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>Imgae</th>
												<th>Date  de vente</th>
												<th>Quantité vendue</th>
												<th>Reduction</th>
												<th>Prix de vente</th>
											</tr>
										</thead>
										<tbody>
											{% for vente in produit.ventes %}
												<tr>
													<td>
														<img style="width:60px" src="{{asset(produit.image)}}" class="img-sm img-rounded" alt="Cinque Terre">
													</td>
													<td>{{vente.dateVente | date('Y-m-d')}}</td>
													<td>{{vente.qteVendu}}</td>
													<td>{{vente.reduction }}
														%
													</td>
													<td>{{vente.prixVente}}
														DH</td>

												</tr>
											{% endfor %}
										</tbody>
									</table>

								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock  %}
