{% apply inline_css(source('@css/styleZak.css')) %}
{% block body %}
<div class="email">
<div class="email_logo">
					<a href="./index.html"><img src="{{ email.image('@img/logo5.png') }}" alt=""></a>
					</div>
         <h2 class="emailH1">
Bienvenu  {{ username }}</h2>      
<div class="text"> 

<p class="emalP1">
   On a reçu une demande de changement de mot de passe de votre compte <strong class="typeStrong1"> {{type}}</strong>   <br> <br> 
   Si vous voulez continuer, utilser ce code de confirmation  <br>
    -  {{ code }} <br> 
   <p class="emailP2"> Ce code va etre expiré dans trois heurs</p> 
</p>
</div>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/styleZak.css')}}" type="text/css">
{% endblock %}
{% endapply %}